<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBU4jl2NntU2sHvmbn9nRZKFSB__8747ZI</string>
	<key>GCM_SENDER_ID</key>
	<string>677037114860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayg.tripsplit</string>
	<key>PROJECT_ID</key>
	<string>tripsplit-3de4d</string>
	<key>STORAGE_BUCKET</key>
	<string>tripsplit-3de4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677037114860:ios:934366e65af326e9586cc9</string>
</dict>
</plist>